{% extends '::container.html.twig' %}


{% block content %}
    <!--/* http://exacttarget.github.io/fuelux/#datagrid */-->
    <div id="inside_content">
        <div class="list_primary_buttons">
            <a href="{{ path('invoice_add') }}" class="btn btn-primary"><i class="icon-plus"></i> {{ 'New invoice'|trans }}</a>
        </div>
        <table class="table table-bordered table-hover table-striped" style="margin: 25px; width: 97%;">
            <thead>
                <tr>
                    <th>{{ 'Invoice number'|trans }}</th>
                    <th>{{ 'Customer name'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Due date'|trans }}</th>
                    <th>{{ 'Due'|trans }}</th>
                    <th>{{ 'Total'|trans }}</th>
                    <th class="clear"></th>
                </tr>
            </thead>
            <tbody>
                {% for common in invoices %}
                <tr>
                    <td>
                        {{ common.invoice.number }}
                    </td>
                    <td>{{ common.customerName }}</td>
                    <td>{{ common.invoice.issueDate|date('d/m/Y') }}</td>
                    <td>{{ common.invoice.dueDate|date('d/m/Y') }}</td>
                    <td>{{ 'Pending'|trans }}</td>
                    <td>{{ common.invoice.grossAmount }}</td>
                    <td>
                        {{ 'Pay'|trans }}
                        &nbsp;
                        <a href="{{ path('invoice_edit', {'id': common.id }) }} class="btn btn-small"><i class="icon-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>{{ 'Invoice number'|trans }}</td>
                    <td>{{ 'Customer name'|trans }}</td>
                    <td>{{ 'Date'|trans }}</td>
                    <td>{{ 'Due date'|trans }}</td>
                    <td>{{ 'Due'|trans }}</td>
                    <td>{{ 'Total'|trans }}</td>
                    <td>{{ 'Payments'|trans }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
