{% extends '::container.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliureinvoice/js/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/teclliureinvoice/js/search.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/teclliureinvoice/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!--/* http://exacttarget.github.io/fuelux/#datagrid */-->
    <div id="inside_content">
        <div id="filter_datagrid"></div>
        <div class="list_primary_buttons">
            <a href="{{ path('invoice_add') }}" class="btn btn-primary"><i class="icon-plus"></i> {{ 'New invoice'|trans }}</a>
        </div>
        <div class="list_secondary_buttons">
            <div id="basicSearch" class="searchBox">
                {{ form_start(basicSearchForm, {'action': path('invoice_list'), 'method': 'POST',  'attr': {'class': 'form-search', 'id': 'formFilter' }}) }}

                {{ form_errors(basicSearchForm) }}
                <div class="input-append">
                    {{ form_widget(basicSearchForm.search, { 'attr': {'class': 'span2 search-query uf-placeholder', 'placeholder': 'Search'|trans }}) }}
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
                <div id="advancedSearchBtn"><button class="btn btn-mini btn-info">{{ 'Advanced search'|trans }} <i class="icon-filter"></i></button></div>
                {{ form_end(basicSearchForm) }}


            </div>
            <div id="advancedSearch" class="searchBox">
                {{ form_start(extendedSearchForm, {'action': path('invoice_list'), 'method': 'POST',  'attr': {'class': 'form-search', 'id': 'formFilterAdvanced' }}) }}
                <div class="inputDivInline control-group {% if extendedSearchForm.search.vars.errors|length > 0 %}error{% endif %}">
                    {{ form_errors(extendedSearchForm.search) }}
                    {{ form_widget(extendedSearchForm.search, { 'attr': {'maxlength': 200, 'class': 'input-medium uf-placeholder', 'placeholder': 'Search'|trans} }) }}
                </div>
                <label>{{ 'from'|trans }}</label>
                <div class="inputDivInline control-group {% if extendedSearchForm.i_start_issue_date.vars.errors|length > 0 %}error{% endif %}">
                    {{ form_errors(extendedSearchForm.i_start_issue_date, { 'attr': {'class': 'input-small date_input'} }) }}
                    {{ form_widget(extendedSearchForm.i_start_issue_date, { 'attr': {'class': 'input-small date_input'} }) }}
                </div>
                <label>{{ 'to'|trans }}</label>
                <div class="inputDivInline control-group {% if extendedSearchForm.i_end_issue_date.vars.errors|length > 0 %}error{% endif %}">
                    {{ form_errors(extendedSearchForm.i_end_issue_date, { 'attr': {'class': 'input-small date_input'} }) }}
                    {{ form_widget(extendedSearchForm.i_end_issue_date, { 'attr': {'class': 'input-small date_input'} }) }}
                </div>
                <div class="inputDivInline control-group {% if extendedSearchForm.i_status.vars.errors|length > 0 %}error{% endif %}">
                    <label>{{ 'Invoice status'|trans }}</label>
                    {{ form_errors(extendedSearchForm.i_status) }}
                    {{ form_widget(extendedSearchForm.i_status) }}
                </div>
                {{ form(extendedSearchForm) }}
                {{ form_end(extendedSearchForm) }}
                <div id="simpleSearchBtn"><button class="btn btn-mini btn-warning">{{ 'Basic search'|trans }} <i class="icon-filter"></i></button></div>
            </div>
        </div>
        <table id="results_datagrid" class="table table-bordered table-hover table-striped" style="margin: 25px; width: 97%;">
            <thead>
                <tr>
                    <th>{{ 'Invoice number'|trans }}</th>
                    <th>{{ 'Customer name'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Due date'|trans }}</th>
                    <th>{{ 'Due'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                    <th>{{ 'Total'|trans }}</th>
                    <th class="clear"></th>
                </tr>
            </thead>
            <tbody>
                {% for common in invoices %}
                <tr>
                    <td>
                        {{ common.invoice.number }}
                    </td>
                    <td>{{ common.customerName }}</td>
                    <td>{{ common.invoice.issueDate|date('d/m/Y') }}</td>
                    <td>{{ common.invoice.dueDate|date('d/m/Y') }}</td>
                    <td>{{ 'Pending'|trans }}</td>
                    <td>{{ common.invoice.statusName|trans }}</td>
                    <td>{{ common.invoice.grossAmount|number_format(2, '.', ',') }} €</td>
                    <td>
                        <a href="#" alt="{{ 'Pay'|trans }}" class="btn btn-small"><i class="icon-barcode"></i> {{ 'Pay'|trans }}</a>
                        &nbsp;
                        <a href="{{ path('invoice_edit', {'id': common.id }) }}" alt="{{ 'Edit'|trans }}" class="btn btn-small"><i class="icon-edit"></i> {{ 'Edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="8">
                        {{ invoices|length }} {{ 'invoices' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
