
    <div id="inside_content" class="invoicePrint">
        Barcelona, {{ common.invoice.issueDate|localizeddate('long','none') }}
        <br /><br />
        <b>{{ common.customerName }}</b><br />
        {% if common.invoice.contactName or common.invoice.contactEmail %}
            <b>Att. {{ common.invoice.contactName }} {{ common.invoice.contactEmail }}</b><br />
        {% endif %}
        NIF: {{ common.customerIdentification }}<br />
        {{ common.customerAddress }}<br />
        {{ common.customerZipCode }} {{ common.customerCity }}<br />
        {{ common.customerState }} {{ common.customerCountry }}<br />
        <br />
        <b>{{ 'Invoice'|trans }} - {{ common.invoice.number }}</b>
        {% if common.quote  %}
            <br /><br /><b>{{ 'Based on'|trans }} {{ 'quote'|trans }}: {{ common.quote.number }}</b>
        {% endif %}

        {% if common.deliveryNote  %}
            <br /><br /><b>{{ 'Based on'|trans }} {{ 'order'|trans }}: {{ common.deliveryNote.number }}</b>
        {% endif %}

        <br />
        <br />
        <div class="inputDiv control-group">
            {{ common.description|raw }}
        </div>

        <table id="commonLines" class="lines" style="margin-top: 40px; width: 100%;">
            <tbody id="tbody_lines">
            {% for line in common.commonLines %}
                {{ include('TeclliureInvoiceBundle:Common:line.html.twig', {'line': line}) }}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="2">&nbsp;</td>
            </tr>
            {% if common.discountAmount %}
                <tr id="add_line_link_li" class="totals1">
                    <td style="color: black;">{{ 'Base'|trans }}</td>
                    <td id="total_base_amount" style="color: black; text-align: right;">{{ common.baseAmount|number_format(2, '.', ',') }} €</td>
                </tr>
                <tr id="add_line_link_li" class="totals1">
                    <td style="color: black; font-size: 9px;">{{ 'Discount'|trans }}</td>
                    <td id="total_discount" style="color: black;text-align: right;">- {{ common.discountAmount|number_format(2, '.', ',') }} €</td>
                </tr>
            {% endif %}
            {% for tax in common.getTaxAmountArray %}
                {% if tax.amount %}
                    <tr id="add_line_link_li" class="totals1">
                        <td style="color: black;">{{ tax.tax.name|trans }} ({{ tax.tax.value|trans }}%)</td>
                        <td id="total_discount" style="color: black; text-align: right;">{{ tax.amount|number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr id="add_line_link_li" class="totals2" style="border-bottom: solid 2px black; color: black;">
                <td style="width: 80%;"><b>{{ 'TOTAL'|trans }}</b></td>
                <td style="width: 20%; text-align: right;" id="total_subtotal">
                    <b>{{ common.grossAmount|number_format(2, '.', ',') }} €</b>
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="inputDiv control-group" style="margin: 40px 0 20px; clear: both; font-size: 0.7em">
            {{ common.invoice.footnote|raw }}
        </div>

        <div class="list_primary_buttons">
            {% if (common.invoice) and (common.invoice.status != 0) and (print != true) %}
                <a href="{{ path('invoice_open', {'id': common.id}) }}" class="btn btn-warning"><i class="icon-folder-open"></i> {{ 'Open and edit'|trans }}</a>
            {% elseif (common.invoice) and (common.invoice.status == 0) and (print != true) %}
                <a href="{{ path('invoice_edit', {'id': common.id}) }}" class="btn btn-success"><i class="icon-edit"></i> {{ 'Edit'|trans }}</a>
            {% endif %}
            {% if (print != true) %}
                <a href="{{ path('invoice_list') }}" alt="{{ 'Back to list'|trans }}" class="btn btn-small btn-info"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
                <a href="{{ path('invoice_print', {'id': common.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>