<table  class="table table-bordered table-hover" style="margin: 25px; width: 97%;">
    <thead>
    <tr>
        <th {% if invoices.isSorted('i.number') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Invoice number'|trans, 'i.number', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th {% if invoices.isSorted('c.customer_name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Customer name'|trans, 'c.customer_name', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th {% if invoices.isSorted('i.issue_date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Date'|trans, 'i.issue_date', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th {% if invoices.isSorted('i.due_date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Due date'|trans, 'i.due_date', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th> {{ 'Due'|trans }}</th>
        <th {% if invoices.isSorted('i.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Status'|trans, 'i.status', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th {% if invoices.isSorted('i.gross_amount') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(invoices, 'Total'|trans, 'i.gross_amount', {}, {}, 'TeclliureInvoiceBundle:Common:sortable_link.html.twig') }}</th>
        <th class="clear"></th>
    </tr>
    </thead>
    <tbody>
    {% for common in invoices %}
        <tr>
            <td>
                {{ common.invoice.number }}
            </td>
            <td>{{ common.customerName }}</td>
            <td>{{ common.invoice.issueDate|date('d/m/Y') }}</td>
            <td>{{ common.invoice.dueDate|date('d/m/Y') }}</td>
            <td>{{ common.invoice.dueAmount|number_format(2, '.', ',') }} €</td>
            <td>{{ common.invoice.statusName|trans }}</td>
            <td>{{ common.invoice.grossAmount|number_format(2, '.', ',') }} €</td>
            <td>
                {% if common.invoice.status == 0  %}
                <a href="{{ path('invoice_edit', {'id': common.id }) }}" alt="{{ 'Edit'|trans }}" class="btn btn-small"><i class="icon-edit"></i> {{ 'Edit'|trans }}</a>
                {% else %}
                <a href="{{ path('invoice_view', {'id': common.id }) }}" alt="{{ 'View'|trans }}" class="btn btn-small"><i class="icon-zoom-in"></i> {{ 'View'|trans }}</a>
                <a href="{{ path('invoice_print', {'id': common.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
                {% endif %}
                <div class="inputDivInline payments" id="payments{{ common.invoice.id }}">
                    {{ render(controller('TeclliureInvoiceBundle:Payment:payments', { 'common': common })) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="8">
            {{ knp_pagination_render(invoices, 'TeclliureInvoiceBundle:Common:simple_pagination.html.twig') }}
        </td>
    </tr>
    </tfoot>
</table>