{% extends '::container.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliureinvoice/js/lines.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="inside_content">
        <form action="{{ path('invoice_add') }}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <h3>{{ 'Customer'|trans }}</h3>
            {{ form_errors(form.customer_identification) }}
            {{ form_widget(form.customer_identification, {'attr': { 'maxlength': 30, 'class': 'input-small', 'placeholder': 'Identification'|trans} }) }}
            {{ form_errors(form.customer_name) }}
            {{ form_widget(form.customer_name, { 'attr': {'maxlength': 200, 'class': 'input-xlarge', 'placeholder': 'Customer name'|trans} }) }}
            {{ form_errors(form.customer_zip_code) }}
            {{ form_widget(form.customer_zip_code, { 'attr': {'maxlength': 6, 'class': 'input-mini', 'placeholder': 'Customer name'|trans} }) }}

            <h3>{{ 'Payment'|trans }}</h3>
            {{ form_errors(form.invoice.issue_date) }}
            {{ 'Issue date'|trans }}: {{ form_widget(form.invoice.issue_date, { 'attr': {'class': 'date_input'} } ) }}
            &nbsp;&nbsp;
            {{ form_errors(form.invoice.due_date) }}
            {{ 'Due date'|trans }}: {{ form_widget(form.invoice.due_date, { 'attr': {'class': 'date_input'} }) }}
            &nbsp;&nbsp;
            {{ form_errors(form.invoice.serie) }}
            {{ 'Serie'|trans }}: {{ form_widget(form.invoice.serie, { 'attr': {'class': 'input-small'} }) }}

            <h3>{{ 'Description'|trans }}</h3>
            {{ form_row(form.description) }}

            <h3>{{ 'Invoice lines'|trans }}</h3>
            <ul class="lines" data-prototype="{% filter escape %}{{ include('TeclliureInvoiceBundle:Invoice:lineForm.html.twig', {'lineForm': form.common_lines.vars.prototype, 'new': true}) }}{% endfilter %}">
                <li class="lineHeader not_delete">
                    <div class="lineDesc">{{ 'Description' }}</div>
                    <div class="lineQty">{{ 'Quantity' }}</div>
                    <div class="lineUC">{{ 'Unitary cost' }}</div>
                    <div class="lineDiscount">{{ 'Discount' }}</div>
                    <div class="lineTaxes">{{ 'Taxes' }}</div>
                </li>
                {# iterate over each existing tag and render its only field: name #}
                {% for line in form.common_lines %}
                    <li>
                        {{ include('TeclliureInvoiceBundle:Invoice:lineForm.html.twig', {'lineForm': line, 'new': false}) }}
                    </li>
                {% endfor %}
                <li id="add_line_link_li" class="not_delete"><a href="#" class="btn btn-primary " id="add_line_link"><i class="icon-plus-sign"></i> {{ 'Add a line'|trans }}</a></li>
            </ul>

            {{ form_rest(form) }}

            <button type="submit" class="btn">{{ 'Save'|trans }}</button>
        </form>
    </div>
{% endblock %}