{% extends '::container.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliureinvoice/js/lines.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="inside_content">
        {% if form.vars.errors|length %}
            <div class="alert alert-block alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>{{ 'Ups, form error !'|trans }}</h4>
                <p>{{ 'Change a few things up and try submitting again.'|trans }}</p>
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <form action="{{ path('invoice_add') }}" method="post" {{ form_enctype(form) }}>
            <h3>{{ 'Customer'|trans }}</h3>
            {{ form_errors(form.common.customerIdentification) }}
            {{ form_widget(form.common.customerIdentification, {'attr': { 'maxlength': 30, 'class': 'input-small', 'placeholder': 'Identification'|trans} }) }}
            {{ form_errors(form.common.customerName) }}
            {{ form_widget(form.common.customerName, { 'attr': {'maxlength': 200, 'class': 'input-xlarge', 'placeholder': 'Customer name'|trans} }) }}
            {{ form_errors(form.common.customerZipCode) }}
            {{ form_widget(form.common.customerZipCode, { 'attr': {'maxlength': 6, 'class': 'input-mini', 'placeholder': 'Customer name'|trans} }) }}

            <h3>{{ 'Payment'|trans }}</h3>
            {{ form_errors(form.issueDate) }}
            {{ 'Issue date'|trans }}: {{ form_widget(form.issueDate, { 'attr': {'class': 'date_input'} } ) }}
            &nbsp;&nbsp;
            {{ form_errors(form.dueDate) }}
            {{ 'Due date'|trans }}: {{ form_widget(form.dueDate, { 'attr': {'class': 'date_input'} }) }}
            &nbsp;&nbsp;
            {{ form_errors(form.serie) }}
            {{ 'Serie'|trans }}: {{ form_widget(form.serie, { 'attr': {'class': 'input-small'} }) }}

            <h3>{{ 'Description'|trans }}</h3>
            {{ form_row(form.common.description) }}

            <h3>{{ 'Invoice lines'|trans }}</h3>
            <ul class="lines" data-prototype="{% filter escape %}{{ include('TeclliureInvoiceBundle:Invoice:lineForm.html.twig', {'lineForm': form.common.commonLines.vars.prototype, 'new': true}) }}{% endfilter %}">
                <li class="lineHeader not_delete">
                    <div class="lineDesc">{{ 'Description' }}</div>
                    <div class="lineQty">{{ 'Quantity' }}</div>
                    <div class="lineUC">{{ 'Unitary cost' }}</div>
                    <div class="lineDiscount">{{ 'Discount' }}</div>
                    <div class="lineTaxes">{{ 'Taxes' }}</div>
                </li>
                {# iterate over each existing tag and render its only field: name #}
                {% for line in form.common.commonLines %}
                    <li>
                        {{ include('TeclliureInvoiceBundle:Invoice:lineForm.html.twig', {'lineForm': line, 'new': false}) }}
                    </li>
                {% endfor %}
                <li id="add_line_link_li" class="not_delete"><a href="#" class="btn btn-primary " id="add_line_link"><i class="icon-plus-sign"></i> {{ 'Add a line'|trans }}</a></li>
            </ul>

            {{ form_rest(form) }}

            <button type="submit" class="btn">{{ 'Save'|trans }}</button>
        </form>
    </div>
{% endblock %}