{% extends '::base.html.twig' %}

{% block body %}

{{ include ('TeclliureDashboardBundle:Shared:menu.html.twig') }}

<div id ="mainContainer">
    <div id="alerts">
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="notification alert alert-info fade in">
                {{ flashMessage }}
                <a class="close close_notification" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="notification alert alert-success fade in">
                {{ flashMessage }}
                <a class="close close_notification" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="notification alert alert-error fade in">
                {{ flashMessage }}
                <a class="close close_notification" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="notification alert alert-warning fade in">
                {{ flashMessage }}
                <a class="close close_notification" data-dismiss="alert" href="#">&times;</a>
            </div>
        {% endfor %}
    </div>

    {% block filter %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
{% endblock %}