{% if app.user %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}">Easy Invoice System</a>
            <div class="nav-collapse collapse" id="main-menu">
                <ul class="nav nav-pills" id="main-menu-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Quotes'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="">{{ 'Create quote'|trans }}</a></li>
                            <li><a href="">{{ 'View quotes'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Orders'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="">{{ 'Create order'|trans }}</a></li>
                            <li><a href="">{{ 'View orders'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Invoices'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="">{{ 'Create invoice'|trans }}</a></li>
                            <li><a href="{{ path('invoice_list') }}">{{ 'View invoices'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ 'Customers'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="">{{ 'Create customer'|trans }}</a></li>
                            <li><a href="">{{ 'View customers'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right" id="main-menu-right">
                    <li><span style="padding: 10px 15px 10px; display: inline-block">{{ 'Welcome' }}, {{ app.user.username }} !</span></li>
                    <li><a href=""><i class="icon-wrench"></i> {{ 'Settings'|trans }}</a></li>
                    <li><a rel="tooltip" href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> {{ 'Log out'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}