{% if app.user %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}">Easy Invoice System</a>
            <div class="nav-collapse collapse" id="main-menu">
                <ul class="nav nav-pills" id="main-menu-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Quotes'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('quote_add') }}"><i class="icon-plus-sign"></i> {{ 'Create quote'|trans }}</a></li>
                            <li><a href="{{ path('quote_list') }}"><i class="icon-list"></i> {{ 'View quotes'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Orders'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('delivery_note_add') }}"><i class="icon-plus-sign"></i> {{ 'Create order'|trans }}</a></li>
                            <li><a href="{{ path('delivery_note_list') }}"><i class="icon-list"></i> {{ 'View orders'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ 'Invoices'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('invoice_add') }}"><i class="icon-plus-sign"></i> {{ 'Create invoice'|trans }}</a></li>
                            <li><a href="{{ path('invoice_list') }}"><i class="icon-list"></i> {{ 'View invoices'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{ 'Customers'|trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('customer_add') }}"><i class="icon-plus-sign"></i> {{ 'Create customer'|trans }}</a></li>
                            <li><a href="{{ path('customer_list') }}"><i class="icon-list"></i> {{ 'View customers'|trans }}</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav pull-right" id="main-menu-right">
                    <li><span style="padding: 10px 15px 10px; display: inline-block">{{ 'Welcome'|trans }}, {{ app.user.username }} !</span></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-wrench"></i>
                            {{ 'Settings'|trans }}
                            <b class="caret"></b>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('craue_config_settings_modify') }}">{{ 'Your company info'|trans }}</a></li>
                                <li><a href="{{ path('tax') }}">{{ 'Taxes'|trans }}</a></li>
                                <li><a href="{{ path('serie') }}">{{ 'Series'|trans }}</a></li>
                            </ul>
                        </a>
                    </li>
                    {% endif %}
                    <li><a rel="tooltip" href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i> {{ 'Log out'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}