
    <div id="inside_content">

        <div id="companyInfo">
            <h4>{{ 'Quote'|trans }} - {{ common.quote.number }}</h4>
            <b>{{ 'Created'|trans }}</b>: {{ common.quote.created|date("d/m/Y") }}<br />
            <div class="inputDiv control-group">
            {{ config.company_name }} - {{ config.company_identification }}
            </div>
            <br />
            <div class="inputDiv control-group">
                {{ config.company_address|nl2br }}
            </div>
            <br />
            <div class="inputDiv control-group">
                {% if config.company_web %}
                    {% if (print != true) %}<a href="{{ config.company_web }}">{% endif %}{{ config.company_web }}{% if (print != true) %}</a>{% endif %}
                {% endif %}
                {% if config.company_mail %}
                    <br />
                    {% if (print != true) %}<a href="mailto: {{ config.company_mail }}">{% endif %}{{ config.company_mail }}{% if (print != true) %}</a>{% endif %}
                {% endif %}
            </div>

        </div>

        <h3>{{ 'Customer'|trans }}</h3>
        <div class="inputDiv control-group">
            {{ common.customerIdentification }}
        </div>
        <div class="inputDiv control-group">
            {{ common.customerName }}
        </div>
        <div class="inputDiv control-group">
            {{ common.customerZipCode }}
        </div>
        <br />
        <div class="inputDiv control-group">
            {{ common.customerAddress }}
        </div>
        <br />
        <div class="inputDiv control-group">
            {{ common.customerCity }}
        </div>
        <div class="inputDiv control-group">
            {{ common.customerState }}
        </div>
        <div class="inputDiv control-group">
            {{ common.customerCountry }}
        </div>

        <br />
        <div class="inputDiv control-group">
            <h3>{{ 'Description'|trans }}</h3>
            {{ common.description|nl2br }}
        </div>

        <table id="commonLines" class="lines" style="margin-top: 40px">
            <thead>
            <tr class="lineHeader not_delete">
                <th class="lineDesc">{{ 'Description' }}</th>
                <th class="lineQty">{{ 'Quantity' }}</th>
                <th class="lineUC">{{ 'Unitary cost' }}</th>
                <th class="lineTaxes">{{ 'Taxes' }}</th>
                <th class="lineDiscount">{{ 'Discount' }}</th>
                <th class="lineDiscount">{{ 'Price' }}</th>
            </tr>
            </thead>
            <tbody id="tbody_lines">
            {% for line in common.commonLines %}
                {{ include('TeclliureInvoiceBundle:Common:line.html.twig', {'line': line}) }}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4" rowspan="2">
                </td>
                <th class="border_total">{{ 'Base'|trans }}</th>
                <td class="border_total common_totals" id="total_base_amount">{{ common.baseAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <th class="border_total">{{ 'Discount'|trans }}</th>
                <td class="border_total common_totals" id="total_discount">{{ common.discountAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Subtotal'|trans }}</th>
                <td class="border_total common_totals" id="total_subtotal">{{ common.netAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Taxes'|trans }}</th>
                <td class="border_total common_totals" id="total_taxes">{{ common.taxAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Total'|trans }}</th>
                <td class="border_total common_totals" id="total_total">{{ common.grossAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            </tfoot>
        </table>

        <div class="inputDiv control-group" style="margin: 40px 0 20px; clear: both;">
            {{ common.quote.footnote|nl2br }}
        </div>

        <div class="list_primary_buttons">
            {% if (common.quote) and (common.quote.status != 0) and (print != true) and not common.invoice and not common.deliveryNote %}
                <a href="{{ path('quote_open', {'id': common.id}) }}" class="btn btn-warning"><i class="icon-folder-open"></i> {{ 'Open and edit'|trans }}</a>
            {% endif %}
            {% if (print != true) %}
                {% if common.invoice %}
                    <a href="{{ path('invoice_view', {'id': common.id }) }}" alt="{{ 'View invoice'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View invoice'|trans }}</a>
                {% endif %}
                {% if common.deliveryNote  %}
                    <a href="{{ path('delivery_note_view', {'id': common.id }) }}" alt="{{ 'View order'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View order'|trans }}</a>
                {% endif %}
                <a href="{{ path('quote_list') }}" alt="{{ 'Back to list'|trans }}" class="btn btn-small btn-success"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
                <a href="{{ path('quote_print', {'id': common.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>