
    <div id="inside_content">
        <div id="companyInfo" style="margin-top: -60px;">
            <h5>{{ 'Quote'|trans }} - {{ quote.number }}</h5>
            <b>{{ 'Created on'|trans }}</b>: {{ quote.created|date("d/m/Y") }}<br />
            <br />
            <div class="inputDiv control-group">
                <b>{{ config.company_name }} - {{ config.company_identification }}</b><br />
                {{ config.company_address|nl2br }}
            </div>
            <br />
            <div class="inputDiv control-group">
                {% if config.company_web %}
                    <a href="{{ config.company_web }}">{{ config.company_web }}</a>
                {% endif %}
                {% if config.company_mail %}
                    <br />
                    <a href="mailto: {{ config.company_mail }}">{{ config.company_mail }}</a>
                {% endif %}
            </div>
        </div>

        <div style="margin-top: -60px;">
            <h4>{{ 'Customer'|trans }}</h4>
            <div class="control-group">
                <b>{{ quote.common.customerName }} - {{ quote.common.customerIdentification }}</b><br />
            </div>
            <div class="inputDiv control-group">
                {{ quote.common.customerAddress|nl2br }}<br />
                {{ quote.common.customerZipCode }} - {{ quote.common.customerCity }} <br />
                {{ quote.common.customerState }} {{ quote.common.customerCountry }}
            </div>
            <br />
            {% if quote.contactName or quote.contactEmail %}
            <h5>{{ 'Contact'|trans }}</h5>
            <div class="inputDiv control-group">
                {{ quote.contactName }} ({{ quote.contactEmail }})
            </div>
            {% endif %}
        </div>
        <br />
        <div class="inputDiv control-group">
            <h3>{{ 'Description'|trans }}</h3>
            {{ quote.common.description|raw }}
        </div>

        <table id="commonLines" class="lines" style="display: block; margin-top: 20px; width: 90%; page-break-inside: avoid !important;">
            <thead>
            <tr>
                <td colspan="6">&nbsp;</td>
            </tr>
            <tr class="lineHeader not_delete">
                <th class="lineDesc" style="width: 70%">{{ 'Description'|trans }}</th>
                <th class="lineQty">{{ 'Quantity'|trans }}</th>
                <th class="lineUC">{{ 'Unitary cost'|trans }}</th>
                <th class="lineTaxes">{{ 'Taxes'|trans }}</th>
                <th class="lineDiscount">{{ 'Discount'|trans }}</th>
                <th class="lineDiscount" style="width: 30%">{{ 'Price'|trans }}</th>
            </tr>
            </thead>
            <tbody id="tbody_lines">
            {% for line in quote.common.commonLines %}
                {{ include('TeclliureInvoiceBundle:Common:line.html.twig', {'line': line}) }}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr id="add_line_link_li" class="not_delete">
                    <td colspan="4" style="width: 95%"></td>
                    <th class="border_total" style="text-align: right">{{ 'Base'|trans }}</th>
                    <td class="border_total common_totals" id="total_base_amount">{{ quote.common.baseAmount|number_format(2, '.', ',') }}€</td>
                </tr>
                {% if quote.common.discountAmount %}
                <tr id="add_line_link_li" class="not_delete">
                    <td colspan="4"></td>
                    <th class="border_total"  style="text-align: right">{{ 'Discount'|trans }}</th>
                    <td class="border_total common_totals" id="total_discount">{{ quote.common.discountAmount|number_format(2, '.', ',') }}€</td>
                </tr>
                <tr id="add_line_link_li" class="not_delete">
                    <td colspan="4"></td>
                    <th class="border_total"  style="text-align: right">{{ 'Subtotal'|trans }}</th>
                    <td class="border_total common_totals" id="total_subtotal">{{ quote.common.netAmount|number_format(2, '.', ',') }}€</td>
                </tr>
                {% endif %}
                {% for tax in quote.common.getTaxAmountArray %}
                    {% if tax.amount %}
                        <tr id="add_line_link_li" class="not_delete">
                            <td colspan="4"></td>
                            <th class="border_total">{{ tax.tax.name|trans }} ({{ tax.tax.value|trans }}%)</th>
                            <td class="border_total common_totals" style="text-align: right;">{{ tax.amount|number_format(2, '.', ',') }}€</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr id="add_line_link_li" class="not_delete">
                    <td colspan="4"></td>
                    <th class="border_total"  style="text-align: right">{{ 'Total'|trans }}</th>
                    <td class="border_total common_totals" id="total_total">{{ quote.common.grossAmount|number_format(2, '.', ',') }}€</td>
                </tr>
            </tfoot>
        </table>

        <div class="inputDiv control-group" style="margin: 40px 0 20px; clear: both;">
            {{ quote.footnote|raw }}
        </div>

        {% if (print != true) %}
        <div class="list_primary_buttons">
            {% if (quote) and (quote.status != 0) and not quote.status > 2 %}
                <a href="{{ path('quote_open', {'id': quote.id}) }}" class="btn btn-warning"><i class="icon-folder-open"></i> {{ 'Open and edit'|trans }}</a>
            {% endif %}
            {% if quote.status > 3 %}
                <a href="{{ path('invoice_view', {'id': quote.id, 'type': 'quote' }) }}" alt="{{ 'View invoice'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View invoice'|trans }}</a>
            {% endif %}
            {% if quote.status == 3  %}
                <a href="{{ path('delivery_note_view', {'id': quote.id, 'type': 'quote' }) }}" alt="{{ 'View order'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View order'|trans }}</a>
            {% endif %}
            <a href="{{ path('quote_list') }}" alt="{{ 'Back to list'|trans }}" class="btn btn-small btn-success"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
            <a href="{{ path('quote_print', {'id': quote.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
        </div>
        {% endif %}
        <div style="clear:both;"></div>
    </div>