{% extends '::container.html.twig' %}


{% block content %}
<div id="inside_content">
    <div class="list_primary_buttons">
        <a href="{{ path('tax') }}" class="btn btn-primary"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
    </div>

    <div class="page-header">
        <h1>{{ 'Tax edit'|trans }}</h1>
    </div>

    {% if edit_form.vars.errors|length %}
        <div class="alert alert-block alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ 'Ups, form error !'|trans }}</h4>
            <p>{{ 'Change a few things up and try submitting again.'|trans }}</p>
            {{ form_errors(edit_form) }}
        </div>
    {% endif %}

    <form action="{{ path('tax_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn" type="submit"><i class="icon-file"></i>  {{ 'Edit'|trans }}</button>
        </p>
    </form>
{% endblock %}
