{% extends '::container.html.twig' %}


{% block content %}
<div id="inside_content">
    <div class="list_primary_buttons">
        <a href="{{ path('tax_new') }}" id="newTaxLink" class="btn btn-primary"><i class="icon-plus"></i> {{ 'New tax'|trans }}</a>
    </div>

    <div class="page-header">
        <h1>{{ 'Tax list'|trans }}</h1>
    </div>

    <table class="table table-bordered table-hover table-striped" style="margin: 25px; width: 97%;">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Value'|trans }}</th>
                <th>{{ 'Is active ?'|trans }}</th>
                <th>{{ 'Is default ?'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tax_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.value }}</td>
                <td>
                    {% if entity.active %}
                        <i class="icon-ok"></i>
                    {% else %}
                        <i class="icon-remove"></i>
                    {% endif %}
                </td>
                <td>
                    {% if entity.isdefault %}
                        <i class="icon-ok"></i>
                    {% else %}
                        <i class="icon-remove"></i>
                    {% endif %}

                </td>
                <td>
                    {% if entity.active %}
                        <a href="{{ path('tax_disable', { 'id': entity.id }) }}" class="btn btn-warning"><i class="icon-remove"></i> {{ 'Disable'|trans }}</a>
                    {% else %}
                        <a href="{{ path('tax_enable', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-ok"></i> {{ 'Enable'|trans }}</a>
                    {% endif %}
                    {% if entity.isEmpty %}
                        <a href="{{ path('tax_delete', { 'id': entity.id }) }}" class="btn btn-danger"><i class="icon-remove"></i> {{ 'Delete'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
