{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div id="languages">
    <ul class="lang-menu">
        <li>{% if app.request.locale != 'ca' %}<a class="btn btn-mini btn-link" href="{{ path('homepage_localized', {'_locale': 'ca'}) }}">{% endif %}Català{% if app.request.locale != 'ca' %}</a>{% endif %}</li>
        <li>{% if app.request.locale != 'es' %}<a class="btn btn-mini btn-link" href="{{ path('homepage_localized', {'_locale': 'es'}) }}">{% endif %}Español{% if app.request.locale != 'es' %}</a>{% endif %}</li>
        <li>{% if app.request.locale != 'en' %}<a class="btn btn-mini btn-link" href="{{ path('homepage_localized', {'_locale': 'en'}) }}">{% endif %}English{% if app.request.locale != 'en' %}</a>{% endif %}</li>
    </ul>
</div>
<form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
    <h2 class="form-signin-heading">{{ 'Please sign in'|trans }}</h2>

    {% if error %}
        <div class="alert alert-error" >
            {{ error|trans({}, 'FOSUserBundle') }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'Email or username'|trans }}" />
    <input type="password" id="password" name="_password" required="required" placeholder="{{ 'Password'|trans }}" />

    <label class="checkbox">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    </label>


    <input type="submit" id="_submit" name="_submit" class="btn btn-large btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    <br />
    <div style="float: right">{{ 'Coding by'|trans }} <a href="http://www.teclliure.net">Teclliure</a></div>
</form>
{% endblock fos_user_content %}
