<!DOCTYPE html>
<html>
<head>
    <title>Easy Invoice System - {% block title %}No title{% endblock %}</title>
    <meta charset="UTF-8" />
    <script>
        function subst() {
            var vars = {};

            // explode the URL query string
            var x = document.location.search.substring(1).split('&');

            // loop through each query string segment and get keys/values
            for (var i in x)
            {
                var z = x[i].split('=',2);
                vars[z[0]] = unescape(z[1]);
            }

            // an array of all the parameters passed into the footer file
            var x = ['topage','page', 'webpage', 'section', 'subsection', 'subsubsection'];

            for(var i in x) {
                var y = document.getElementsByClassName(x[i]);

                if (x[i] != 'section') {
                    for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
                }
            }
        }
    </script>
</head>
<body onload="subst()">
<table style="width: 100%; font-size: 8px">
  <tr>
    <td class="section" style="text-align: center;"><span>{{ config.company_name }} {{ config.company_identification }} {% if config.company_web %}- <a href="{{ config.company_web }}">{{ config.company_web }}</a>{% elseif config.company_mail %}- <a href="mailto: {{ config.company_mail }}">{{ config.company_mail }}</a>{% endif %}</span></td>
    <td style="text-align:right">
      <span class="page"></span>/<span class="topage"></span>
    </td>
  </tr>
</table>
</body>
</html>