<tr class="invoiceLine">
    <td colspan="2" class="lineDesc">
        <div class="inputDiv">
        {{ line.description }}
        </div>
    </td>
    <!--<td class="lineQty">
        <div class="inputDiv">
        {{ line.quantity }}
        </div>
    </td>
    <td class="lineUC">
        <div class="inputDiv">
        {{ line.unitaryCost }}
        </div>
    </td>
    <td class="lineTaxes">
        <div>

        {% for tax in line.taxes %}
            <div class="tax">
            {{ tax.value }}%
            </div>
        {% endfor %}
        </div>
    </td>
    <td class="lineDiscount">
        <div class="inputDiv">
            {{ line.discount }}
        </div>
    </td>-->
    <td class="linePrice">
        {{ line.netAmount|number_format(2, '.', ',') }}€
    </td>
</tr>