
    <div id="inside_content">

        <div id="companyInfo">
            <h4>{{ 'Order'|trans }} - {{ deliveryNote.number }}</h4>
            <b>{{ 'Created'|trans }}</b>: {{ deliveryNote.created|date("d/m/Y") }}<br />
            {% if deliveryNote.relatedQuote  %}<h6>{{ 'Quote'|trans }}: {% if not print %}<a href="{{ path('quote_view', {'id': deliveryNote.relatedQuote.id }) }}">{% endif %}{{ deliveryNote.relatedQuote.number }}{% if not print %}</a>{% endif %}</h6>{% endif %}
            {% if (deliveryNote.status > 1) and (not print) %}<h6><a href="{{ path('invoice_view', {'id': deliveryNote.id, 'type': 'deliveryNote' }) }}">{{ 'View invoices'|trans }}</a></h6>{% endif %}
            <div class="inputDiv control-group">
            {{ config.company_name }} - {{ config.company_identification }}
            </div>
            <br />
            <div class="inputDiv control-group">
                {{ config.company_address|nl2br }}
            </div>
            <br />
            <div class="inputDiv control-group">
                {% if config.company_web %}
                    {% if (print != true) %}<a href="{{ config.company_web }}">{% endif %}{{ config.company_web }}{% if (print != true) %}</a>{% endif %}
                {% endif %}
                {% if config.company_mail %}
                    <br />
                    {% if (print != true) %}<a href="mailto: {{ config.company_mail }}">{% endif %}{{ config.company_mail }}{% if (print != true) %}</a>{% endif %}
                {% endif %}
            </div>

        </div>

        <h3>{{ 'Customer'|trans }}</h3>
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerIdentification }}
        </div>
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerName }}
        </div>
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerZipCode }}
        </div>
        <br />
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerAddress }}
        </div>
        <br />
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerCity }}
        </div>
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerState }}
        </div>
        <div class="inputDiv control-group">
            {{ deliveryNote.common.customerCountry }}
        </div>
        {% if deliveryNote.contactName or deliveryNote.contactEmail %}
            <h4>{{ 'Contact'|trans }}</h4>
            <div class="inputDiv control-group">
                {{ deliveryNote.contactName }} {{ deliveryNote.contactEmail }}
            </div>
        {% endif %}

        <br />
        <div class="inputDiv control-group">
            <h3>{{ 'Description'|trans }}</h3>
            {{ deliveryNote.common.description|raw }}
        </div>

        <table id="commonLines" class="lines" style="margin-top: 40px">
            <thead>
            <tr class="lineHeader not_delete">
                <th class="lineDesc">{{ 'Description'|trans }}</th>
                <th class="lineQty">{{ 'Quantity'|trans }}</th>
                <th class="lineUC">{{ 'Unitary cost'|trans }}</th>
                <th class="lineTaxes">{{ 'Taxes'|trans }}</th>
                <th class="lineDiscount">{{ 'Discount'|trans }}</th>
                <th class="lineDiscount">{{ 'Price'|trans }}</th>
            </tr>
            </thead>
            <tbody id="tbody_lines">
            {% for line in deliveryNote.common.commonLines %}
                {{ include('TeclliureInvoiceBundle:Common:line.html.twig', {'line': line}) }}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4" rowspan="2">
                </td>
                <th class="border_total">{{ 'Base'|trans }}</th>
                <td class="border_total common_totals" id="total_base_amount">{{ deliveryNote.common.baseAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <th class="border_total">{{ 'Discount'|trans }}</th>
                <td class="border_total common_totals" id="total_discount">{{ deliveryNote.common.discountAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Subtotal'|trans }}</th>
                <td class="border_total common_totals" id="total_subtotal">{{ deliveryNote.common.netAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Taxes'|trans }}</th>
                <td class="border_total common_totals" id="total_taxes">{{ deliveryNote.common.taxAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="4">
                </td>
                <th class="border_total">{{ 'Total'|trans }}</th>
                <td class="border_total common_totals" id="total_total">{{ deliveryNote.common.grossAmount|number_format(2, '.', ',') }}€</td>
            </tr>
            </tfoot>
        </table>

        <div class="inputDiv control-group" style="margin: 40px 0 20px; clear: both;">
            {{ deliveryNote.footnote|raw }}
        </div>

        <div class="list_primary_buttons">
            {% if (deliveryNote.id) and (deliveryNote.status != 0) and (print != true) and not deliveryNote.status < 2 %}
                <a href="{{ path('delivery_note_open', {'id': deliveryNote.id}) }}" class="btn btn-warning"><i class="icon-folder-open"></i> {{ 'Open and edit'|trans }}</a>
            {% endif %}
            {% if (print != true) %}
                {% if deliveryNote.status > 1 %}
                    <a href="{{ path('invoice_view', {'id': deliveryNote.id, 'type': 'deliveryNote' }) }}" alt="{{ 'View invoices'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View invoice'|trans }}</a>
                {% endif %}
                {% if deliveryNote.relatedQuote  %}
                    <a href="{{ path('quote_view', {'id': deliveryNote.relatedQuote.id }) }}" alt="{{ 'View quote'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View quote'|trans }}</a>
                {% endif %}
                <a href="{{ path('delivery_note_list') }}" alt="{{ 'Back to list'|trans }}" class="btn btn-small btn-success"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
                <a href="{{ path('delivery_note_print', {'id': deliveryNote.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
    </div>
