
    <div id="inside_content">
        <i>Barcelona, {{ common.deliveryNote.created|localizeddate('long','none') }}</i>
        <br /><br />
        <b>{{ common.customerName }}</b><br />
        {% if common.deliveryNote.contactName or common.deliveryNote.contactEmail %}
            <b>Att. {{ common.deliveryNote.contactName }} {{ common.deliveryNote.contactEmail }}</b><br />
        {% endif %}
        NIF: {{ common.customerIdentification }}<br />
        {{ common.customerAddress }}<br />
        {{ common.customerZipCode }} {{ common.customerCity }}<br />
        {{ common.customerState }} {{ common.customerCountry }}<br />
        <br />
        <i><b>{{ 'Order'|trans }} - {{ common.deliveryNote.number }}</b></i>
        {% if common.quote  %}
            <br /><br /><b>{{ 'Based on'|trans }} {{ 'quote'|trans }}: {{ common.quote.number }}</b>
        {% endif %}
        <br />
        <br />
        <div class="inputDiv control-group">
            {{ common.description|raw }}
        </div>

        <table id="commonLines" class="lines" style="margin-top: 40px; width: 100%;">
            <tbody id="tbody_lines">
            {% for line in common.commonLines %}
                {{ include('TeclliureInvoiceBundle:Common:line.html.twig', {'line': line}) }}
            {% endfor %}
            </tbody>
            <tfoot>
            <tr id="add_line_link_li" class="not_delete">
                <td colspan="2">&nbsp;</td>
            </tr>
            {% if common.discountAmount %}
                <tr id="add_line_link_li" class="not_delete">
                    <td style="color: black; font-size: 9px;">{{ 'Base'|trans }}</td>
                    <td id="total_base_amount" style="color: black; font-size: 9px; text-align: right;">{{ common.baseAmount|number_format(2, '.', ',') }} €</td>
                </tr>
                <tr id="add_line_link_li" class="not_delete">
                    <td style="color: black; font-size: 9px;">{{ 'Discount'|trans }}</td>
                    <td id="total_discount" style="color: black; font-size: 9px; text-align: right;">- {{ common.discountAmount|number_format(2, '.', ',') }} €</td>
                </tr>
            {% endif %}
            {% for tax in common.getTaxAmountArray %}
                {% if tax.amount %}
                <tr id="add_line_link_li" class="not_delete">
                    <td style="color: black; font-size: 9px;">{{ tax.tax.name|trans }} ({{ tax.tax.value|trans }}%)</td>
                    <td id="total_discount" style="color: black; font-size: 9px; text-align: right;">{{ tax.amount|number_format(2, '.', ',') }} €</td>
                </tr>
                {% endif %}
            {% endfor %}
            <tr id="add_line_link_li" class="not_delete" style="border-bottom: solid 2px black; color: black;">
                <td style="width: 80%;  font-size: 10px;"><b>{{ 'TOTAL'|trans }}</b></td>
                <td style="width: 20%;  font-size: 10px; text-align: right;" id="total_subtotal"><b>{{ common.grossAmount|number_format(2, '.', ',') }} €</b></td>
            </tr>
            </tfoot>
        </table>

        <div class="inputDiv control-group" style="margin: 40px 0 20px; clear: both;">
            {{ common.deliveryNote.footnote|raw }}
        </div>

        {% if (print != true) %}
        <div class="list_primary_buttons">
            {% if (common.deliveryNote) and (common.deliveryNote.status != 0) and not common.invoice %}
                <a href="{{ path('delivery_note_open', {'id': common.id}) }}" class="btn btn-warning"><i class="icon-folder-open"></i> {{ 'Open and edit'|trans }}</a>
            {% endif %}
            {% if common.invoice %}
                <a href="{{ path('invoice_view', {'id': common.id }) }}" alt="{{ 'View invoice'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View invoice'|trans }}</a>
            {% endif %}
            {% if common.quote  %}
                <a href="{{ path('quote_view', {'id': common.id }) }}" alt="{{ 'View quote'|trans }}" class="btn btn-small btn-info"><i class="icon-file"></i> {{ 'View quote'|trans }}</a>
            {% endif %}
            <a href="{{ path('delivery_note_list') }}" alt="{{ 'Back to list'|trans }}" class="btn btn-small btn-success"><i class="icon-list"></i> {{ 'Back to list'|trans }}</a>
            <a href="{{ path('delivery_note_print', {'id': common.id }) }}" alt="{{ 'Print'|trans }}" class="btn btn-small"><i class="icon-print"></i> {{ 'Print'|trans }}</a>
        </div>
        {% endif %}
        <div style="clear:both;"></div>
    </div>
