{% extends '::container.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/teclliureinvoice/js/inputPlaceholderUF.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/teclliureinvoice/js/jquery-ui-1.10.3.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/teclliurecustomer/js/contacts.js') }}" type="text/javascript"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/teclliureinvoice/css/smoothness/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="inside_content">
        <form id="customerForm" action="{% if customer.id %}{{ path('customer_edit', {'id': customer.id }) }}{% else %}{{ path('customer_add') }}{% endif %}" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <h3>{{ 'Customer'|trans }}</h3>
            <div class="inputDiv control-group {% if form.identification.vars.errors|length > 0 %}error{% endif %}">
            {{ form_widget(form.identification, {'attr': { 'maxlength': 30, 'class': 'input-medium uf-placeholder', 'placeholder': 'Identification'|trans} }) }}
            {{ form_errors(form.identification) }}
            <div class="ajax_loader input_inside_ajax_load"> </div>
            </div>

            <div class="inputDiv control-group {% if form.name.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, { 'attr': {'maxlength': 200, 'class': 'input-xlarge uf-placeholder', 'placeholder': 'Name'|trans} }) }}
            </div>
            <br />
            <div class="inputDiv control-group {% if form.legal_name.vars.errors|length > 0 %}error{% endif %}">
                {{ form_errors(form.legal_name) }}
                {{ form_widget(form.legal_name, { 'attr': {'maxlength': 200, 'class': 'input-xxlarge uf-placeholder', 'placeholder': 'Legal name'|trans} }) }}
            </div>
            <br />
            <div class="inputDiv control-group {% if form.email.vars.errors|length > 0 %}error{% endif %}">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { 'attr': {'maxlength': 200, 'class': 'uf-placeholder', 'placeholder': 'Email'|trans} }) }}
            </div>
            <div class="inputDiv control-group {% if form.phone.vars.errors|length > 0 %}error{% endif %}">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone, { 'attr': {'maxlength': 20, 'class': 'input-small uf-placeholder', 'placeholder': 'Phone'|trans} }) }}
            </div>
            <div class="inputDiv control-group {% if form.web.vars.errors|length > 0 %}error{% endif %}">
                {{ form_errors(form.web) }}
                {{ form_widget(form.web, { 'attr': {'maxlength': 200, 'class': 'input-large uf-placeholder', 'placeholder': 'Web'|trans} }) }}
            </div>
            <br />
            <div class="inputDiv control-group {% if form.address.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.address) }}
            {{ form_widget(form.address, { 'attr': {'class': 'input-xxlarge uf-placeholder', 'placeholder': 'Invoicing address'|trans} }) }}
            </div>
            <br />
            <div class="inputDiv control-group {% if form.city.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.city) }}
            {{ form_widget(form.city, { 'attr': {'maxlength': 200, 'class': 'uf-placeholder', 'placeholder': 'City'|trans} }) }}
            </div>
            <div class="inputDiv control-group {% if form.zip_code.vars.errors|length > 0 %}error{% endif %}">
                {{ form_errors(form.zip_code) }}
                {{ form_widget(form.zip_code, { 'attr': {'maxlength': 6, 'class': 'input-mini uf-placeholder', 'placeholder': 'Zip code'|trans} }) }}
            </div>
            <div class="inputDiv control-group {% if form.state.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.state) }}
            {{ form_widget(form.state, { 'attr': {'maxlength': 200, 'class': 'input-small uf-placeholder', 'placeholder': 'State'|trans} }) }}
            </div>
            <div class="inputDiv control-group {% if form.country.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.country) }}
            {{ form_widget(form.country, { 'attr': {'class': 'input-medium uf-placeholder', 'placeholder': 'Country'|trans} }) }}
            </div>

            <h3>{{ 'Payment'|trans }}</h3>
            <div class="inputDivInline control-group {% if form.payment_period.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.payment_period) }}
            {{ 'Payment period'|trans }}: {{ form_widget(form.payment_period, { 'attr': {'class': 'input-mini two_input'} } ) }}
            </div>
            &nbsp;&nbsp;
            <div class="inputDivInline control-group {% if form.payment_day.vars.errors|length > 0 %}error{% endif %}">
            {{ form_errors(form.payment_day) }}
            {{ 'Payment day'|trans }}: {{ form_widget(form.payment_day, { 'attr': {'class': 'input-mini two_input'} }) }}
            </div>

            <h3>{{ 'Contacts'|trans }}</h3>
            <table id="customerContacts" class="lines" data-prototype="{% filter escape %}{{ include('TeclliureCustomerBundle:Default:contactForm.html.twig', {'contactForm': form.contacts.vars.prototype, 'new': true}) }}{% endfilter %}">
                <thead>
                <tr class="lineHeader not_delete">
                    <th class="lineName">{{ 'Name' }}</th>
                    <th class="lineMail">{{ 'Mail' }}</th>
                    <th class="linePhone">{{ 'Phone' }}</th>
                    <th class="lineNotifications">{{ 'Notifications' }}</th>
                </tr>
                </thead>
                <tbody id="tbody_lines">
                {# iterate over each existing tag and render its only field: name #}
                {% for key,line in form.contacts %}
                    {{ include('TeclliureCustomerBundle:Default:contactForm.html.twig', {'contactForm': line, 'new': false}) }}
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr id="add_line_link_li" class="not_delete">
                        <td colspan="4">
                            <a href="#" class="btn btn-primary " id="add_line_link"><i class="icon-plus-sign"></i> {{ 'Add a contact'|trans }}</a>
                        </td>
                    </tr>
                </tfoot>
            </table>


            {{ form_rest(form) }}

            <div class="list_primary_buttons">
                {% if (customer.id)  %}
                    <a href="{{ path('customer_delete', {'id': customer.id}) }}" class="btn btn-danger confirmDialog" data-confirmMsg="{{ 'Are you sure do you want delete customer ?' }}"><i class="icon-remove-circle"></i> {{ 'Delete'|trans }}</a>
                    &nbsp;
                    &nbsp;
                {% endif %}

                <button type="submit" name="action" value="save" class="btn"><i class="icon-file"></i> {{ 'Save'|trans }}</button>
            </div>
            <div style="clear:both;"></div>
        </form>
    </div>
{% endblock %}